 /*General Style  */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 @font-face {
     font-family: knewave;
     src: url(fonts/knewave-outline.ttf);
 }

 h2.titulo {
     color: #fff;
     font-size: 38px;
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 h2.titulo span {
     color: #ff0000;
 }

 body {
     background-color: black;
     height: 100vh;
 }

 .interface {
     max-width: 1280px;
     margin: 0 auto;
 }

 .flex {
     display: flex;
 }

 .btn-contato button {
     padding: 10px 40px;
     font-size: 40px;
     font-weight: 700;
     border: 0;
     border-radius: 30px;
     cursor: pointer;
 }

 button:hover,
 form .btn-enviar input:hover {
     box-shadow: 0px 0px 8px #ff0000;
     transform: scale(1.05);
     transition: .2s;
 }

 /* Header Style */

 header {
     padding: 40px 4%;

 }

 header>.interface {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 header a {
     color: #7c7c7c;
     text-decoration: none;
     display: inline-block;
 }

 header nav.menu-desktop a:hover {
     color: #fff;
     transform: scale(1.2);
     transition: 0.2s;

 }

 header nav ul {
     list-style-type: none;
 }

 header nav.menu-desktop ul li {
     display: inline-block;
     padding: 0 40px;
 }


 /* MOBILE MENU STYLE */

 .btn-abrir-menu i {
     color: #fff;
     font-size: 40px;
 }

 .overlay-menu {
     background-color: #000000a7;
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 888;
     display: none;
 }

 .menu-mobile {
     background-color: #000;
     height: 100vh;
     position: fixed;
     top: 0;
     right: 0;
     z-index: 999;
     width: 0%;
     overflow: hidden;
     transition: .5s;
 }

 .menu-mobile.abrir-menu {
     width: 70%;
 }

 .menu-mobile.abrir-menu~.overlay-menu {
     display: block;

 }

 .menu-mobile .btn-fechar i {
     color: #7e0000;
     font-size: 30px;
     cursor: pointer;
 }

 .menu-mobile .btn-fechar {
     padding: 20px 4%;
 }

 .menu-mobile nav ul {
     text-align: right;

 }

 .menu-mobile nav ul li a {
     color: #fff;
     font-size: 20px;
     font-weight: 300;
     padding: 20px 9%;
     display: block;
 }

 .menu-mobile nav ul li a:hover {
     background-color: #7e0000;
 }

 /* Top side style */
 section.topo-do-site {
     padding: 40px 4%;

 }

 section.topo-do-site .flex {
     align-items: center;
     justify-content: center;
     gap: 90px;
 }

 .topo-do-site h1 {
     color: #fff;
     font-size: 42px;
     line-height: 40px;
 }

 .topo-do-site .txt-topo-site h1 span {
     color: #ff0000;
 }

 .topo-do-site .txt-topo-site p {
     color: #ffffff;
     margin: 40px 0;
     font-size: 17px;
 }

 .topo-do-site .img-topo-site img {
     position: relative;
     animation: flutuate 2s ease-in-out infinite alternate;
 }

 @keyframes flutuate {
     0% {
         top: 0%;
     }

     100% {
         top: 100%;
     }
 }

 /* Specialties Style */
 section.especialidades {
     padding: 40px 4%;
 }

 section.especialidades .flex {
     gap: 60px;
 }

 .especialidades .especialidades-box {
     color: #fff;
     padding: 40px;
     border-radius: 35px;
     margin-top: 45px;
     transition: 0.2s;
 }

 .especialidades .especialidades-box:hover {
     transform: scale(1.05);
     box-shadow: 0 0 13px rgba(253, 0, 0, 0.753);
 }

 .especialidades .especialidades-box i {
     font-size: 70px;
     color: crimson;
 }

 .especialidades .especialidades-box h3 {
     font-size: 28px;
     margin: 50px 0;

 }

 /* ABOUT STYLE */
 section.sobre {
     padding: 95px 4%;
 }

 section.sobre .flex {
     align-items: center;
     gap: 60px;
 }

 .sobre .txt-sobre {
     color: #fff;
 }

 .sobre .txt-sobre h2 {
     font-size: 40px;
     line-height: 40px;
     margin-bottom: 30px;
 }

 .sobre .txt-sobre h2 span {
     color: #ff4141;
     display: block;
 }

 .sobre .txt-sobre p {
     margin: 20px 0;
     text-align: justify;
 }

 .btn-social button {
     width: 60px;
     height: 60px;
     border-radius: 50%;
     border: none;
     background-color: #ff4141;
     font-size: 22px;
     cursor: pointer;
     margin: 0 5px;
 }


 /* PORTFOLIO STYLE */
 section.portfolio {
     padding: 40px 4%;
     box-shadow: 0px 0px 40px 10px #ffffff1d;
 }

 section.portfolio .flex {
     justify-content: space-around;
 }

 .img-port {
     width: 360px;
     height: 360px;
     background-size: cover;
     background-position: 0 100%;
     transition: 2s;
     cursor: pointer;
     border-radius: 40px;
     position: relative;
 }

 .img-port:hover {
     background-position: 100% 100%;

 }

 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #000000B8;
     border-radius: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 24px;
     font-weight: 600;
     color: #fff;
     opacity: 0;
     transition: 0.2s;
 }

 .overlay:hover {
     opacity: 1;
 }

 /* CONTACT FORM STYLE */

 section.formulario {
     padding: 80px 0%;
 }

 form {
     max-width: 500px;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;

     margin-top: 40px;
 }

 form input,
 form textarea {
     width: 100%;
     height: 100%;
     background-color: #c2c2c232;
     border: 0;
     outline: 0;
     padding: 20px 15px;
     border-radius: 15px;
     color: white;
     font-size: 18px;
 }

 form textarea {
     resize: none;
     max-height: 200px;
 }

 form .btn-enviar {
     margin-top: 20px;
     text-align: center;
 }

 form .btn-enviar input[type=submit] {
     width: 120px;
     background-color: #7e0000;
     color: #fff;
     font-weight: 700;
     cursor: pointer;
 }

 /* ESTILO RODAPÉ */

 footer {
     padding: 60px 0%;

     box-shadow: 0px 0px 40px 10px #ff00003a;
 }

 footer .flex {
     justify-content: space-between;
 }

 footer .line-footer {
     padding: 20px 0;
 }

 .borda {


     border-top: 2px solid #ff0000;
 }

 footer .line-footer p i {
     color: #fff;
     font-size: 22px;
 }

 footer .line-footer p a {
     color: #fff;
     text-decoration: none;
 }

 .logo img,
 .logo-footer img {
     width: 150px;
     height: 150px;
 }

 @media screen and (max-width:1020px) {

     /* CLASSES GERAIS */

     .flex {
         flex-direction: column;
     }

     h2.titulo {
         font-size: 30px;
         line-height: 30px;
     }

     /* CABEÇALHO HEADER */

     .menu-desktop,
     .btn-contato {
         display: none;
     }

     /* TOPO DO SITE */
     section.topo-do-site {
         padding: 20px 8%;

     }

     section.topo-do-site .flex {
         gap: 40px;
     }

     .topo-do-site h1 {
         font-size: 30px;
     }

     /* Specialties Style */
     section.especialidades {
         padding: 40px 8%;

     }

     section.sobre {
         padding: 80px 8%;
     }

     .sobre .txt-sobre h2 {
         font-size: 34px;
         line-height: 35px;
         text-align: center;
     }

     .btn-social {
         text-align: center;
     }

     .img-sobre img {
         width: 100%;
     }

     /* PORTFOLIO */


     section.portfolio {
         padding: 80px 4%;
     }

     .img-port {
         width: 80%;
         margin: 0 auto;

     }

     section.portfolio .flex {
         gap: 60px;
     }

     /* RODAPE */


     footer .flex {
         flex-direction: column;
         gap: 30px;
     }

     footer .line-footer {
         text-align: center;
     }

 }
 .line-footer-email{
    text-decoration: none;
 }
